/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
       /*    header end*/
    .h-img{
        width: 66px;
    }
    .menu ul li a{
       padding: 0px 0 !important;
            margin: 1px 7px;
    }
    .menu ul li a:hover{
        background-color: transparent;
    }
    .search-c {
    width: 40%;
}
    .toggle_c{    
      color: #ffffff !important;
      border-color: #ffffff !important;
    }
    .menu ul li a{
        font-size: 14px;
    }
/*    header end*/
    /*    banner start*/
    .banner {
    min-height: 343px;
}
  .banner_left {
    margin-top: 50px;
}
    .banner_right {
    margin-top: 30px;
}
  .common_h1 {
    font-size: 39px;
}
.banner_left h2 {
    font-size: 12px;
    letter-spacing: 0px;
    margin-top: 14px;
    margin-bottom: 27px;
}
    .banner_left button {
    font-size: 12px;
    width: 100px;
}
  .banner_left p {
    width: 150px;
    font-size: 12px;
}
   .img3 {
    margin-top: -56px !important;
}
/*    banner end*/
    /*    .part start*/
    .p_common {
    font-size: 11px;
}
      .single {
    text-align: center;
}
    .single img {
    width: 59%;
}
    /*    .part end*/
    .f_left{text-align: center;}
    .f_list{
        text-align: center;
    }
    
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    /*    header end*/
    .h-img{
        width: 90px;
    }
    .menu ul li a{
       padding: 3px 0 !important;
            margin: 1px 7px;
    }
    .menu ul li a:hover{
        background-color: transparent;
    }
    .search-c {
    width: 25%;
}
    .toggle_c{    
      color: #ffffff !important;
      border-color: #ffffff !important;
    }
/*    header end*/
    /*    banner start*/
      .banner {
    min-height: 483px;
}
  .banner_left {
    margin-top: 50px;
}
  .common_h1 {
    font-size: 66px;
}
    .banner_left h2 {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-bottom: 41px;
}
    .banner_left button {
    font-size: 14px;
    width: 152px;
}
  .banner_left p {
    width: 259px;
    font-size: 14px;
}
    .img3 {
    margin-top: -131px !important;
}
/*    banner end*/
/*    .part start*/
    .p_common {
    font-size: 12px;
}
    .single {
    text-align: center;
}
    .single img {
    width: 59%;
}
    
    /*    .part end*/
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*    header start*/
    
/*    header end*/
    .menu ul li a{
       padding: 3px 0 !important;
            margin: 1px 7px;
    }
    .menu ul li a:hover{
        background-color: transparent;
    }
    .search-c {
    width: 17%;
}
    .toggle_c{    
      color: #ffffff !important;
      border-color: #ffffff !important;
    }
/*    header end*/
/*    banner start*/
    .banner {
    min-height: 660px;
}
    .banner_left {
    margin-top: 100px;
   }
    .common_h1 {
          font-size: 91px;
   }
    .banner_left h2 {
    font-size: 16px;
}.banner_left p {
    width: 367px;
    font-weight: 400;
}
    .img3 {
    margin-top: -131px !important;
}
/*    banner end*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
/*    banner start*/
    .img3 {
    margin-top: -189px !important;
    max-width: 76%;
}

/*    banner end*/
   
}

/* Extra devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
}

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
}